h1 {
    color: #568248
}
body {
    background-color: #e5f8bb;
}
#blockis {
    background-color: rgb(200, 50, 100);
    font-family: cursive;
    border: solid 2px;
}
h2 {
    background-color: greenyellow;
    width: 500px;
    height: 500px;
}